header{
  background-color:rgb(7, 148, 101);
  position:fixed;
  width:100%;
  height: 60px;
  top:0;
  left:0;
  right:0;
  z-index:2;
}


body{
  background-color: aliceblue;
  justify-content: center;
  padding-top:0;
  font-family:Arial, sans-serif;
  font-size: 120%;
  text-align:center;
}

a:link{  
  color:blue;
  background-color: transparent;
  text-decoration:none;
} 

a:visited {
  color : rgb(255, 255, 255);
  background-color:transparent;
  text-decoration:none;
}

a:hover{
  color: yellow;
  text-decoration:underline;
}
img{
  width:100%;
}

ul {
  background-image: url(myPhotos\header_background.jpg;);
  background-size: cover;
  color:blue;
  list-style-type:none;
  margin-left:420px;
  margin-top: 0px;
  padding-top: 0;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: left;
}

li a {
  display: block;
  color: blue;
  text-align: center;
  padding: 25px;
  text-decoration:#37CBE6;
}

li a:hover {
  background-color: transparent;
} 
.mycondingprojects{
  display:"flex";
}

.myPhotoTxt{
  background-image: url('myPhotos/my_photo.jpg');
  padding-top:100px;
  color:white;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  /* to ensure that this particular (div) element is fixed and other elements are scrolled at the top of it*/
  top:50px;
  left:0;
  z-index:1;
}

.my_intro{
  display: inline-block;
  color:rgb(2, 110, 51);
  margin-left:20px;
  margin-right:10px;
  text-align: center;
  margin-right:10%; /*this one determines the distance between my paragraphs*/
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.changing{
  opacity: 0;
  position:absolute;
  animation:both;
  animation-duration: 1s;
}

@keyframes fe_dev {
  0%, 100% { opacity: 0; }
  25%, 50% { opacity: 1; }
}

@keyframes des1 {
  0%, 33.3% { opacity: 0; }
  16.65%, 49.95% { opacity: 1; }
}

@keyframes des2 {
  0%, 50% { opacity: 0; }
  33.3%, 66.6% { opacity: 1; }
}

@keyframes ai_entR {
  0%, 66.6% { opacity: 0; }
  50%, 100% { opacity: 1; }
}

.changing.fe_dev{
  animation-name: fe_dev;
  animation-delay: 0s;
}

.changing.des1{
  animation-name: des1;
  animation-delay: 2s;
}

.changing.des2{
  animation-name: des2;
  animation-delay: 4s;
}

.changing.ai_entR{
  animation-name: ai_entR;
  animation-delay: 6s;
}

.mycodingprojects{
  width:100%;
  overflow: auto;
}

div.mycodingprojects div{
  width:30%;
  float:left;
}

.myReseachProj{
  display:flex;
}

div.myReseachProj{
  width:100%;
  overflow:auto;
}

div.myReseachProj div{
  width:30%;
  float:left;
}
span{
  color:rgb(238, 255, 0);
}

.about{
  background-color: transparent;
  margin-left: 250px;
  margin-right: 250px;
}





